.navbar-light .navbar-brand{
    font-size: 25px;
    color: dodgerblue;
    text-shadow: 1px 1px 1px rgb(121, 183, 245);
    font-weight: 600;
}

.navbar{
    box-shadow: 0px 2px 10px rgb(223, 223, 223);
}


