header{
  
    
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(50px);
    /* border-bottom: 2px solid grey; */
    box-shadow: 0px 2px 10px rgb(223, 223, 223);
}





.navbar-light .navbar-nav .nav-link{
    color: rgb(44, 44, 44);
    font-size: 18px;
    /* text-shadow: 1px 1px 1px grey; */
    
    
}



.navbar-light .navbar-brand{
    font-size: 25px;
    color: dodgerblue;
    text-shadow: 1px 1px 1px rgb(121, 183, 245);
    font-weight: 600;
}